{% extends 'ru/temps/base.html' %}


{% block title %}
Информации о конференции — iaeee.kg
{% endblock %}


{% block css %}
    {%  load    static %}
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
{% endblock %}


{% block lang_en %}
    {% url 'en:about-conference' %}
{% endblock %}


{% block lang_ru %}
    {% url 'ru:about-conference' %}
{% endblock %}


{% block logo %}
{%  load    static %}
{% static 'main/img/logo.png' %}
{% endblock %}


{% block content %}
    <section class="general-info">
        <div class="general-info__container container">
            <h2 class="title">
                Общая информация о конференции
            </h2>
            <div class="text">
                <p>
                    МАЭСС проводит международные научно-практические конференции в области
                    сейсмостойкого строительства и за период существования с 2016 г., организовала
                    две конференции в 2016 – 2018 гг. и более 10 семинаров с
                    международным участием в течении 2016-2022гг.
                </p>
                <p>
                    Международные конференции проводятся для обсуждения, анализа и разработки путей
                    решения проблем и вопросов сейсмической безопасности: сейсмического районирования
                    и микрорайонирования, сейсмической опасности, разработки нормативно-технических
                    документаций по строительству зданий и сооружений в сейсмических районах,
                    сейсмостойкого строительства зданий и сооружений, оценки и повышения сейсмостойкости,
                    норм проектирования, качественного моделирования и расчета строительных объектов на
                    сейсмические воздействия, включая методы инженерного обследования и сейсмического
                    усиления.
                </p>
                <p>
                    В рамках конференции, на круглых столах и на пленарных заседаниях, ведущие эксперты
                    находят передовые методы и инструменты для реализации тех многочисленных поставленных
                    целей и задач, которые ставятся перед МАЭСС, ее действительными членами и партнерами.
                </p>
                <p>
                    Важным для МАЭСС является постоянное укрепление позиции путем проведения Международных
                    научно-практических конференций по сейсмостойкому строительству; разработка
                    нормативно-технических документов (СНиП, СТУ, пособий, руководств и т.д.) в области
                    сейсмической безопасности, сейсмостойкого строительства, сейсмического риска, систем
                    сейсмоизоляции, сейсмоусиления,; методика проведения инженерного обследования и экспертиза
                    проектов зданий на соответствие требованиям норм проектирования и сейсмостойкого
                    строительства; проведения теоретических исследований и экспериментальных вибродинамических
                    натурных испытаний; мониторинг и оценка поведения зданий в онлайн режиме.
                </p>
            </div>
        </div>
    </section>

    <section class="format">
        <div class="format__container container">
            <h2 class="title">
                Формат, цели и направления конференции
            </h2>
            <div class="text">
                <p>
                    <span class="bold">Формат конференции:</span>  
                    На конференцию приглашаются видные ученые и специалисты, имеющие большой опыт работы 
                    по исследованию, расчету и проектированию сейсмостойких зданий и сооружений из стран СНГ и дальнего зарубежья, 
                    представители ведущих научно-исследовательских учреждений, специалисты проектных организаций, экспертизы, 
                    крупные ученые, молодые ученые, аспиранты, магистранты и студенческая молодежь высших учебных заведений.
                </p>
                <p>
                    <ul>
                        <span class="bold">Цели конференции:</span>
                        <p>
                            ꟷ Расширение связей ученых, исследователей и специалистов в области сейсмической 
                            безопасности разных стран в установлении контактов, обмене опытом научно-технической, 
                            исследовательской и коммерческой информацией;
                        
                        </p>
                        <p>
                            ꟷ Создание диалога и определение путей развития в части привлечения внимания к проблемам 
                            и вопросам сейсмической безопасности и сейсмостойкого строительства; популяризации 
                            инженерно-строительного и технического образования; качества моделирования, расчетов и анализа 
                            несущих строительных конструкций; проектирования, обследования и усиления зданий и сооружений;
                            
                        </p>
                        <p>
                            ꟷ Формирование единого пространства взаимодействия экспертов в области сейсмостойкого строительства 
                            для разработки эффективных подходов к повышению сейсмической безопасности.
                            
                        </p>
                    </ul>
                </p>
            </div>
        </div>
    </section>

    <section class="direction">
        <div class="direction__container container">
            <h2 class="title">
                Направления научно-практической конференции
            </h2>
            <div class="text">
                <p>1. Разработка нормативно-технической документации в области сейсмостойкого строительства;</p>
                <p>2. Карты сейсморайонирования и сейсмомикрорайонирования;   </p>
                <p>3. Проблемы сейсмической безопасности и пути развития сейсмостойкого строительства;</p>
                <p>4. Особенности систем сейсмоизоляции и их развитие;</p>
                <p>5. Проектирование, моделирование, расчет и анализ зданий и сооружений на сейсмические воздействия;</p>
                <p>6. Инновационные и передовые технологии в области сейсмостойкого строительства;</p>
                <p>7. Сейсмический риск и сейсмическая уязвимость, уменьшение природно-техногенных последствий землетрясений; сейсмостойкость зданий существующей застройки и урбанизированных территорий;</p>
                <p>8. Инженерное обследование, методы усиления, восстановления и реконструкции несущих строительных конструкций зданий;</p>
                <p>9. Сейсмостойкость гидротехнических, транспортных и подземных инженерных сооружений;</p>
                <p>10. Пути обеспечения сейсмической безопасности школьных зданий.</p>
                <p>11. Геотехника, инженерные изыскания и дистанционное зондирование</p>
                <p>12. Специальная секция «СТРАХОВАНИЕ ОТ ЗЕМЛЕТРЯСЕНИЙ»</p>
            </div>
        </div>
    </section>
{% endblock %}
