{% extends 'ru/temps/base.html' %}


{% block title %}
Общественные мероприятия
{% endblock %}


{% block css %}
    {%  load    static %}
    <link rel="stylesheet" href="{% static 'main/css/social-events.css' %}">
{% endblock %}


{% block lang_en %}
    {% url 'en:events' %}
{% endblock %}


{% block lang_ru %}
    {% url 'ru:events' %}
{% endblock %}


{% block logo %}
    {%  load    static %}
    {% static 'main/img/logo.png' %}
{% endblock %}


{% block content %}
    {%  load    static %}
    <div class="social-events">
        <div class="social-events__container">
            <h1 class="title">Общественные мероприятия</h1>
            <div class="text myblock1">
                <div class="container">
                    <p
                            class="title">
                        Ипподром
                    </p>
                    <img src="{% static 'main/img/1.jpg' %}" alt="">
                    <p>
                        На берегу озера Иссык-Куль расположен конноспортивный ипподром,
                        находиться в 270 км от г. Бишкек. Ипподром занимает 25 га территории
                        и с общей вместимостью на 10 000 человек. Ипподром является
                        уникальным сооружением, носит национальное и международное значения
                        для страны. В 2016 г. в ипподроме были проведены III Всемирные игры
                        кочевников, в церемонии открытия приняли участие видные деятели, президент
                        Турции, Реджеп Эрдоган, президент Казахстана, Нурсултан Назарбаев,
                        премьер-министр Венгрии, Виктор Орбан и др. личности.
                    </p>
                    <img src="{% static 'main/img/2.jpg' %}" alt="">
                </div>

            </div>

            <div class="text myblock2">
                <div class="container">
                    <p class="title">
                        Культурный центр «Рух Ордо» им. Ч. Айтматова
                    </p>
                    <p>
                        Культурный центр «Рух Ордо» (в переводе «духовный центр») — музей под открытым небом,
                        расположенный на побережье озера Иссык-Куль, в г. Чолпон-Ата. Комплекс был построен
                        в 2002 г. и назван в честь мирового писателя Кыргызстана, Чынгыза Айтматова. Парк
                        включает 10 мини музеев, «Дом-музей Ч. Айтматова», «Зал кыргызского искусства и культуры»,
                        «Беседка С. Каралаева», «Сокровищница знаний» и пять белых часовен, представляющих мировые
                        религии, ислам, католицизм, православие, буддизм и иудаизм, характеризирующих однозначность
                        перед лицом Всевышнего. На территории комплекса расположены десятки скульптур, экспонаты,
                        картинные и фото галереи, ручные изделия, выполненные в разных техниках, которые бережно
                        передавались из поколения в поколения. Экспозиционный фонд постоянно пополнятся новыми и
                        интересными экспонентами. Комплекс располагает экскурсоводами для проведения полуторачасовой
                        интерактивной экскурсии по культуре, традиции, истории и быта Кыргызстана.
                    </p>
                    <img src="{% static 'main/img/3.jpg' %}" alt="">
                    <img src="{% static 'main/img/4.jpg' %}" alt="">
                </div>

            </div>

            <div class="text myblock1">
                <div class="container">
                    <p class="title">
                        Музей петроглифов
                    </p>
                    <img src="{% static 'main/img/5.jpg' %}" alt="">
                    <p>
                        Музей петроглиф (или «Саймалуу Таш» – каменный сад) расположен под открытым небом между
                        заснеженными горами и озером Иссык-Куль, представляет собою выставочную площадку, которая
                        входит в состав Иссык-Кульского историко-культурного музея-заповедника.  Музей имеет
                        территорию 42 га, где представлены 1500 камней с древними наскальными рисунками в виде
                        сцен охоты, быта и войн, некоторые из которых связанны с историей народов, скифов и саков,
                        некоторые имеют изображения олени, описывающие легенду о матери оленихе Бугу Эне. Некоторые
                        артефакты имеют размеры от 30 см до 3 м, возраст около 4000 лет, встречаются рельефные
                        изображения.
                    </p>
                    <img src="{% static 'main/img/6.jpg' %}" alt="">
                </div>

            </div>


        </div>
    </div>
{% endblock %}
