{% extends 'ru/temps/base.html' %}


{% block title %}
Регистрационные и издательские взносы
{% endblock %}


{% block logo %}
    {%  load    static %}
    {% static 'main/img/logo.png' %}
{% endblock %}


{% block lang_en %}
    {% url 'en:feels' %}
{% endblock %}


{% block lang_ru %}
    {% url 'ru:feels' %}
{% endblock %}


{% block content %}
    <div class="myblocks">
        <div class="advts__container">
            <div class="myblock1">
                <div class="container">
                    <div class="title">
                        Регистрационные и издательские взносы
                    </div>
                    <div class="text">
                        <p>
                            <span class="bold">Регистрационный взнос </span> для местного участника – <span>3 000 сом </span> за онлайн и офлайн участие и опубликование статьи 
                            (для онлайн участия: включая НДС и транспортные расходы Бишкек - Иссык-Куль - Бишкек);
                        </p>
                        <p>
                            <span class="bold">Регистрационный взнос </span> для зарубежного участника – <span>10 000 сом или в долларах США по курсу на день оплаты для очного и заочного</span>
                            (для очного участия: в т.ч. НДС и транспортные расходы г. Бишкек — Иссык-Куль – г. Бишкек);
                        </p>
                        <p>
                            Тезисы и тексты научных докладов будут приняты и опубликованы в сборнике только при условии оплаты регистрационного взноса за участие в конференции;
                        </p>
                        <p>
                            В счет одного оплаченного взноса, один автор (в т.ч. в соавторстве);
                        </p>

                        <p>
                            <span class="bold">Стоимость участия без доклада</span> (с получением сертификата об участии на конференции) – 2 000 сом или в долларах США по курсу на день оплаты;
                        </p>
                        <p>
                            <span class="bold">Стоимость публикации статей</span> (без участия) – 2000 сом или в долларах США по курсу на день оплаты;
                        </p>
                        <p>
                            Стоимость в сомах, а доллары по курсу на день оплаты.
                        </p>
                        <p>
                            Для прямого внесения оплаты за регистрацию участия в Конференции и за оплату публикации, получения счета на оплату, необходимо направить,
                        </p>
                        <p>
                            — если физическое лицо, то полные инициалы Ф.И.О.;
                        </p>
                        <p>
                            — если юридическое лицо, то полное название организации, Ф.И.О.
                        </p>
                        <p>
                            Участники конференции без докладов могут получить сертификаты об участии.
                        </p>
                        <p>
                            Пройти онлайн регистрацию на конференцию.
                            <br>
                            Отправить доклады и статьи, презентации до <b>26 июня 2022 г.</b> ;
                        </p>
                        <p>
                            Контакты бухгалтера МАЭСС:
                        </p>
                        <p class="bold">
                            Ажаркан Асековна Дуйшокоева
                        </p>
                        <p>
                            Моб. тел.: <a href = "tel:+996707752557">+996 707 75 25 57</a>(WhatsApp)
                        </p>
                        <p>
                            E-mail: <a href="mailto:dajara2562@gmail.com">dajara2562@gmail.com</a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="myblock2">
                <div class="container">
                    <div class="title">
                        Чтобы стать участником конференции, Вам необходимо:
                    </div>
                    <div class="text">
                        <p>
                            1. Изучить и просматривать периодически веб-сайт III-й Международной научно-практической конференции МАЭСС 
                            (<a href="https://icee.kg/ru/">icee.kg</a>);
                        </p>
                        <p> 
                            2. На веб-сайте конференции, заполнить форму онлайн регистрации
                            (<a href="https://icee.kg/ru/registration">icee.kg</a>);
                        </p> 
                        <p>
                            3. В форму онлайн регистрации, обязательно включить тезисы (краткое описание научного доклада / статьи); 
                        </p>
                        </p>
                            4. Направить научный доклад / статью, презентацию на почту МАЭСС: <a href="mailto:seismokg@mail.ru">seismokg@mail.ru</a>.
                        </p>
                        <p>
                            5. Соблюдать сроки отправки, технические параметры и требования к оформлению научных докладов / статей (образец приложен на веб-сайте конференции);
                        </p>
                        <p>
                            6. Для проживания в г. Бишкек, забронировать номер в отеле “Jannat Regency” или «Золотой Дракон» согласно датам приезда и отъезда. Реквизиты, контакты, цены <span class="bold">(прайс листы отелей)</span> указаны на веб-сайте конференции;    
                        </p>
                        <p>
                            7. Для проживания на Иссык-Куле, забронировать номер в отеле “Talisman Village” согласно датам приезда и отъезда. Реквизиты, контакты, цены <span class="bold">(прайс листы отелей)</span> указаны на веб-сайте конференции;
                        </p>
                        <p>
                            8. При бронировании номера в отелях, обязательно указать название Конференции и наименование Ассоциации (МАЭСС), поскольку предоставляются скидки участникам;
                        </p>
                        <p>
                            9. При желании, можно обратиться непосредственно на веб-сайты отелей, которые указаны на прайс листе;
                        </p>
                        <p>
                            
                            <span class="bold">
                                10. Оплатить регистрационные и издательские взносы, соблюдая условия оплаты.
                            </span>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
