<div style='color:black;background-color:white;padding:5vw;margin:auto'>
        <img src="https://icee.kg/media/logo_en.jpg">
    <br>
        <b>Уважаемый {{firstname}} {{lastname}},</b>  
    <br>
    <br>
        Благодарим Вас за успешную онлайн регистрацию на сайте III Международной 
        научно-практической конференции по сейсмостойкому строительству - МАЭСС.    
    <br>
    <br>    
        Заполненные Вами данные записаны в список зарегистрировавшихся участников 
        конференции. 
    <br>
    <br>
        
        Периодически просим проверять Вами указанную электронную почту, 
    <br>
        - куда будут отправляться информационные сообщения относительно  конференции; 
    <br>
        - c <b>программой конференции</b> можно ознакомиться
        на веб-сайте III Конференции (<a href="https://icee.kg/ru/conference-program">icee.kg</a>)
        на веб-сайте Ассоциации (<a href="https://iaeee.kg/">iaeee.kg</a>)
    <br>
    <br>
        С уважением, 
    <br>
        <b>Оргкомитет МАЭСС</b>
    </div>