{% extends 'en/temps/base.html' %}


{% block title %}
Registration and publishing fees
{% endblock %}


{% block logo %}
    {%  load    static %}
    {% static 'main/img/logo.png' %}
{% endblock %}


{% block lang_en %}
    {% url 'en:feels' %}
{% endblock %}


{% block lang_ru %}
    {% url 'ru:feels' %}
{% endblock %}


{% block content %}
    <div class="myblocks">
        <div class="advts__container">
            <div class="myblock1">
                <div class="container">
                    <div class="title">
                        Registration and Publishing Fees
                    </div>
                    <div class="text">
                        <p>
                            <span class="bold">Participant registration fee</span> for local people – 3000 KGS  for online and offline participation and publication of an article (for online participation: including VAT and transportation costs Bishkek - Issyk-Kul - Bishkek); 
                        </p>
                        <p>
                            <span class='bold'>Participant registration fee</span>
                             for foreign people – 10 000 KGS or in US $ at the exchange rate on the day of payment for online and offline participation (for online participation: including VAT and  transportation fees Bishkek - Issyk-Kyl - Bishkek)
                        </p>
                        <p>
                            Abstracts and texts of scientific papers will be accepted and published in the Journal only subject to payment of the registration fee for participation in the conference;
                        </p>
                        <p>
                            In account of one paid fee, one author (including co-authors);
                        </p>

                        <p>
                            <span class="bold">Cost for participation without a paper</span> (with an obtain of Conference participant certificate) is 2 000 KGS or in US $ at the exchange rate on the day of payment:
                        </p>
                        <p>
                            <span class="bold">Cost for publishing of articles</span>(without participation) is 2 000 KGS or in US $ at the exchange rate on the day of payment..
                        </p>
                        <p>
                            Cost in KGS, and US $ at the exchange rate on the day of payment
                        </p>
                        <p>
                            Direct payment for registration to participate in the Conference and payment for publication, receipt of an invoice for payment, it is necessary to send,
                        </p>
                        <p>
                            — If an individual, then full initials as Participant Name/Surname;
                        </p>
                        <p>
                            — If a legal entity, then the full name of the organization, and Participant Name/Surname.
                        </p>
                        <p>
                            Conference participants without papers can receive certificates of participation
                        </p>
                        <p>
                        Complete online registration for the conference,
                            Complete online registration for the conference,
                            <br>
                            Submit papers and articles, presentations by <b>June 26, 2022</b>.
                        </p>
                        <p>
                            IAEEE Accountant Contacts:
                        </p>
                        <p class="bold">
                            Azharkan Asekovna,
                        </p>
                        <p>
                            Mob. tel.: <a href = "tel:+996707752557">+996 707 75 25 57</a>(WhatsApp)
                        </p>
                        <p>
                            E-mail: <a href="mailto:dajara2562@gmail.com">dajara2562@gmail.com</a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="myblock2">
                <div class="container">
                    <div class="title">
                        To become a Conference Participant, you need::
                    </div>
                    <div class="text">
                        <p>
                            1. Review periodically the web-site of the III IAEEE International Scientific 
                            and Practical Conference (<a href="https://icee.kg/">icee.kg</a>);
                        </p>
                        <p>
                            2. Fill out the online registration form on the Conference web-site 
                            (<a href="https://icee.kg/registration">icee.kg</a>);
                        </p>
                        <p>
                            3. Be sure to specify abstracts (brief description of the research paper / article) in the online registration form;
                        </p>
                        <p>
                            4. Send a research paper / article, presentation to IAEEE email: <a href="mailto:seismokg@mail.ru">seismokg@mail.ru</a>;
                        </p>
                        <p>
                            5. Comply with the deadlines for sending, technical parameters and requirements
                            for preparing of research papers / articles (sample indicated on the conference
                            web-site);
                        </p>
                        <p>
                            6. For accommodation in Bishkek, book a room at the “Jannat Regency” Hotel or
                            “Golden Dragon” Hotel according to the dates of arrival and departure. Details,
                            contacts, prices <span class="bold">(price lists of hotels)</span> are specified on the Conference web-site; 
                        </p>
                        <p>
                            7. For accommodation in Issyk-Kul, book a room at the “Talisman Village” Hotel
                            according to the dates of arrival and departure. Details, contacts, prices 
                            <span class="bold">(price lists of hotels)</span> are specified on the Conference web-site;
                        </p>
                        <p>
                            8. Indicate the name of the Conference and the name of the Association (IAEEE)  
                            when booking a room in hotels, since discounts are provided to participants;
                        </p>
                        <p>
                            9. If you would like, you could visit directly the web-sites of hotels, which are listed
                            on the price list;
                        </p>
                        <p>
                            <span class="bold">
                                10. Pay registration and publishing fees in accordance with the terms of payment.
                            </span>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
