{% extends 'en/temps/base.html' %}


{% block title %}
Registration
{% endblock %}


{% block css %}
    {%  load    static %}
    <link rel="stylesheet" href="{% static 'main/css/reg.css' %}">
{% endblock %}


{% block lang_en %}
    {% url 'en:registration' %}
{% endblock %}


{% block lang_ru %}
    {% url 'ru:registration' %}
{% endblock %}


{% block logo %}
{%  load    static %}
{% static 'main/img/logo.png' %}
{% endblock %}


{% block content %}
    <div class="reg">
        <h2 class="title">
            Registration
            <span class="subtitle">Deadline: June 27, 2022</span>
        </h2>

        <div class="reg__container container">
            <b>Registration is closed</b>
<!--
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="face-type">
                <label>Face type</label>
                {{ form.face_type }}
            </div>


            <div class="fist-name">
                <p>Name *</p>
                {{ form.first_name }}
            </div>
            <div class="last-name">
                <p>Last Name *</p>
                {{ form.last_name }}
            </div>


            <div class="academic-title">
                <p>Academic rank</p>
                {{ form.academic_title }}
            </div>
            <div class="academic-status">
                <p>Academic degree</p>
                {{ form.academic_status  }}
            </div>


            <div class="format">
                <label>form of participation</label>
                {{ form.format }}
            </div>
            <div class="role">
                <label>role at the conference</label>
                {{ form.role }}
            </div>


            <div class="company">
                <p>Organization *</p>
                {{ form.company }}
            </div>
            <div class="company-status">
                <p>Position *</p>
                 {{ form.company_status }}
            </div>


            <div class="email">
                <p>e-mail *</p>
                {{ form.email  }}
            </div>
            <div class="phonenumber">
                <p>Your telephone number *</p>
                {{ form.phonenumber  }}
            </div>
        

            <div class="city">
                <p>City *</p>
                {{ form.city  }}
            </div>
            <div class="country">
                <p>Country *</p>
                {{ form.country  }}
            </div>

            <div class="subject">
                <p>Research article / paper topic (name)</p>
                {{ form.subject }}
            </div>
            <div class="discription">
                <p>Research article / paper brief description</p>
                {{ form.discription }}
            </div>

            <div class="paper">
                <p>Paper / Article</p>
                {{ form.paper }}
            </div>   
            
            <div class="hotel">
                <p>Accommodation booking</p>
                <p>{{ form.hotel1 }} Accommodation self-selection in Bishkek</p>
                <p>{{ form.hotel2 }} Hotel “Jannat Regency” in Bishkek</p>
                <p>{{ form.hotel3 }} Hotel “Golden Dragon” in Bishkek</p>
                <p>{{ form.hotel4 }} Hotel “Talisman Village” in Issyk-Kul</p>
            </div>   

             <div class="files">
                <p>Attach file (article / paper)</p>
                {{ form.files }}
            </div>

            <button class="button reg__button" type="submit">Submit</button>

            {% if error %}
                <p style="color:green"> {{ error }} </p>
            {% endif %}
        </form>
-->
        </div>
    </div>
{% endblock %}
