<div style='color:black;background-color:white;padding:5vw;margin:auto'>
        <img src="https://icee.kg/media/logo_en.jpg">
    <br>
        <b>Dear firstname lastname,</b>
    <br>
    <br>
        Thank you for the successful online registration on the website of the III International
        Scientific and Practical Conference on Earthquake Engineering - IAEEE.
    <br>
    <br>
        Please check your specified email address periodically.
    <br>
    <br>
        The data you filled in is recorded in the list of registered Conference participants. 
    <br>
    <br>
        - where informational messages regarding the conference will be sent;
    <br>
        - <b>Conference Program</b>  can be found
        On the website of the III Conference (<a href="https://icee.kg/conference-program">icee.kg</a>)
        On the website of the Association (<a href="https://iaeee.kg/">iaeee.kg</a>)
    <br>
    <br>
        Sincerely,
    <br>
        <b>IAEEE Organization Committee</b> 
</div>